<p-toolbar>
    <div class="p-toolbar-group-start">
        <i class="pi pi-wallet" style="font-size: 1.5rem; margin-right: 0.5rem; color: var(--primary-color);"></i>
        <span style="font-size: 1.25rem; font-weight: bold; color: var(--text-color);">Finance App</span>
    </div>
    <div class="p-toolbar-group-center">
    </div>
    <div class="p-toolbar-group-end gap-2">
        <p-button icon="pi pi-home" text="true" routerLink="/"></p-button>
        <p-button icon="pi pi-cog" text="true"></p-button>
    </div>
</p-toolbar>